body:not(main) {
    background-color: lightgray;
}

main {
    background: white;
}
p {
    color: blue;
    background-color: yellow;
}
h1 h2 h3 {
    font-size: 24px;
}
div {
    background-color: pink;
}
ol ul {
margin: 20px;
}
#border {
    border: 1px solid black;
}
.shadow {
    box-shadow: 5px 5px 5px 5px  black;
}

div > span {
  color: red;
}
 ul{
    li:first-child{
        color:aqua;
    }
 }
 h2+p{
    font-weight: bold;
 }
 h1+p{
    background-color: bisque;
 }
 input[type=text] {
    border-color: blue;
 }
 a[target=_blank] {
    background-color: beige;
 }
 table{
    tbody{
        tr:nth-child(even){
            background-color: gray;
        }
    }
 }
 button:hover{
    background-color: green;
 }
 ol li{
    font-style: italic;
 }

 ol li:first-child{
    font-weight: bold;
 }