table{
    border-collapse: collapse;
    text-align: left;
    font-family: Arial, Helvetica, sans-serif;

    thead {
        tr {
            th {
             background-color:#009879;
             color: white;
             padding: 10px;
            }
        }

    }
    .var1 {
        td {
            background-color: white;
            color: black;
            padding: 10px;
             border-bottom: 1px solid rgb(177, 177, 177);
        }

    }
    .var2 {
        td {
            background-color: #f3f3f3;
            color: #009879;
            padding:10px;
            font-weight: bold;
            border-bottom: 1px solid rgb(177, 177, 177);
        }
    }
}